.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form__input-field {
    margin-bottom: 15px;
    width: 600px;
}

#comment-field {
    height: 150px;
    resize: none;
}

.visually-hidden {
    display: none;
}

.fail-text {
    margin: 0;
    margin-top: 10px;
    color: red;
}

.success-text {
    margin-top: 10px;
    color: green;
}
